---
title: Brigitte Castaneda
layout: default
---
<style>

    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .myimg{
              width:250px;
              height:250px;
              object-fit:cover;
              border-radius:0%;
            }
</style>

<div id="content">
    <!-- <a href="./about/"> -->
     <img src="./assets/img/mafalda.jpg"  class="myimg"  />
     <!-- </a> -->
</div>


<div class="mid-section-home">

    <h1> Brigitte Castañeda </h1>
    <div class="row sub-heading">
        <div class="summary-about-me">
            <p>{{ page.home_text }}</p>
        </div>
        <div class="nav-link">
            {% include navigation.html %}
        </div>
    </div>
<h5> I am on the job market during the 2023-2024 academic year.</h5>    
</div>
 

